.login {
  background-color: #eff2f5;
  background-color: #2e81f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.signup {
  background-color: #eff2f5;
  background-color: #2e81f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login__form {
  padding: 50px 20px;
  width: 500px;
  border-radius: 15px;
  background-color: #eff2f5;
  /* border: 1px solid lightgrey; */
}

.user__input {
  display: block;
  margin: 30px 20px;
  padding: 12px;
  border-radius: 10px;
  outline: none;
  width: 400px;
  background-color: #eaeaea;
  border: 1px solid #eff2f5;
}

.login__form > .login__button {
  width: 100%;
  padding: 10px;
  font-size: 21px;
  background-color: #2e81f4;
  border: 1px solid #2e81f4;
  color: #fff;
  border-radius: 20px;
}
@media (max-width: 762px) {
  .login__form {
    width: 350px;
  }
  .user__input {
    width: 250px;
  }
}


@media (max-width: 400px) {
    .signup {
      background-color: #eff2f5;
    }

  }

@media (max-width: 362px) {
  .login__form {
    width: 277px;
  }
  .user__input {
    width: 200px;
  }
}
