.app{
  background-color: #f1f2f5;
  /* background-color: #fcde67; */
  
}
.app__body{
  display: flex;
}
  
  
Widgets{
  display: none;
  background-color: rebeccapurple;
}

@media screen and (max-width: 799px) {
  .widgets{
      display: none;
  }
  .app__body{
    justify-content: center;
}
}
